<ul class="nav nav-pills pull-right">
    <li class="{if $site->segments[0] == 'home' || $site->segments[0] == ''}active{/if}"><a href="{$site->base_url()}">Home</a></li>
    <li class="{if $site->segments[0] == 'about'}active{/if}"><a href="{$site->base_url()}about">About</a></li>
</ul>
