<div class="row-fluid">
    <div class="span12">
        <div class="well text-center">
            <h1>OVC - Object, View, Controller</h1>
            <p>Because models are for suckers</p>
        </div>
    </div>
</div>
