body{padding-top:10px;}

/* ----------------------
    TEXT
----------------------- */
h1.divider,
h2.divider,
h3.divider,
h4.divider,
h5.divider,
h6.divider{ border-bottom:#DDD solid 1px; padding-bottom:8px; }

/* ----------------------
    DIFFERENT NAV TABS
----------------------- */
.nav-tabs> li > a{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding:13px 20px;
}
.nav-tabs> li > a:hover,
.nav-tabs> li > a:focus {
  border-color: transparent transparent #DDD;
}
.nav.nav-tabs> li > a:hover,
.nav.nav-tabs> li > a:focus {
    background:none;
}
.nav-tabs> .active > a,
.nav-tabs> .active > a:hover,
.nav-tabs> .active > a:focus {
  color: #555555;
  cursor: default;
  background: #FFF!important;
  border: 1px solid #DDD;
  border-bottom-color: #FFF;
}

/* ----------------------
    TABLE MODS
----------------------- */
/*
.table-striped thead,
.table-striped thead > tr{
    background:#F9F9F9;
    border-top:#DDD solid 1px;
}
.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
  background-color: #F7F2EF;
}
.table-striped tbody > tr:last-child > td,
.table-striped tbody > tr:last-child > th {
    border-bottom:#DDD solid 1px;
}
.table-stripedth, .table-stripedtd{
    border-top:#eae3de solid 1px;
}
*/

/* ----------------------
    BUTTON CHANGES
----------------------- */
.btn{ background:#E6E6E6; -webkit-border-radius:0px; -moz-border-radius:0px; border-radius:0px; padding:6px 13px; }
.btn:hover{ background:#F2F2F2; }
.btn:active{ background:#DDD;box-shadow:inset 0px 1px 2px #333; }

.btn-success{ box-shadow:none; background-image:none; background:#55AB55; }
.btn-success:hover{background:#67bc67;}
.btn-success:active{background:#459b45;}

.btn-danger{ box-shadow:none; background-image:none; background:#C73E38; }
.btn-danger:hover{ background:#d6514d; }
.btn-danger:active{ background:#b5302b; }

.btn-info{ box-shadow:none; background-image:none; background:#389EBC; }
.btn-info:hover{ background:#44acc9; }
.btn-info:active{ background:#2b93af; }


/* ----------------------
    FORM CHANGES
----------------------- */
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
    height:25px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #888;
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}
.radio,
.radio{
    padding-left:0;
}
.radio label,
.checkbox label{
    border-top:#DDDDDD solid 1px;
    line-height:21px;
    padding:7px 0 2px 0;
}
.radio label:first-child,
.checkbox label:first-child{
    border-top:none;
}
.radio input[type="radio"],
.checkbox input[type="checkbox"]{
    margin:3px 10px 0 0;
}
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline: 0
}
.input-append input[type="text"]{
    padding-top:3px;
    padding-bottom:3px;
    padding-left:10px;
    height:26px;
}

.control-group.solo .controls{margin-left:0;padding-left:0;}


/* ----------------------
    ALERTZ
----------------------- */
.alert{
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
}
.alert-warning{
    background:#fffcf2;
    color:#8c7855;
    border-left:#FBEED5 solid 8px;
    border-color:#eae1c2;
}
.alert-error,
.alert-danger{
    border-left:#EED3D7 solid 8px;
    border-color:#e0a8a8;
}
.alert-success{
    border-left:#bdd8b1 solid 8px;
}
